{% extends 'employee/base.html' %}

{% block content %}


    <div class="page login-page">
      <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
          <div class="form-inner">
            <div class="logo text-uppercase"><span>Job Dispatcher app</span><strong class="text-primary">Dashboard</strong></div>

            <p>
         

             {{resultSuccess}}
            {{resultFailed}}
            {{result}}

            </p>
            <div> {% if resultFailed %}
                <i> Click <a href="{% url 'signup' %}">Here</a> to Register <i>
                {% else %}
                <i> Click <a href="{% url 'employeelogin' %}">Here</a> to login <i>
            {% endif %}
            </div>
          </div>
          <div class="copyrights text-center">
            <p>Design by <a href="#" class="external">Softzer Tech</a></p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}