{% extends 'employee/base.html' %}

{% block content %}


    <div class="page login-page">
      <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
          <div class="form-inner">
            <div class="logo text-uppercase"><span>Job Dispatcher app</span><strong class="text-primary">Dashboard</strong></div>
            <p>Register as an employee</p>
            <form method="post" class="text-left form-validate">
            {% csrf_token %}
              <div class="form-group-material">
                <input id="login-username" type="text" name="username" required data-msg="Please enter your Email Address" class="input-material">
                <label for="login-username" class="label-material"></label>
              </div>
              <div class="form-group-material">
                <input id="login-password" type="password" name="password" required data-msg="Please enter your password" class="input-material">
                <label for="login-password" class="label-material"></label>
              </div>
              <i id="result">{{result}}</i>
              <div class="form-group text-center">
              <button id="login" class="btn btn-primary">Register</button>
              </div>
            </form><a href="#" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small><a href="{% url 'employeelogin'%}" class="signup">Login</a>
            
          </div>
          <div class="copyrights text-center">
            <p>Design by <a href="#" class="external">Softzer Tech</a></p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}