{% extends 'employee/base.html' %}
{% block content %}
{% load humanize %}
      <!-- Counts Section -->
      <section class="dashboard-counts section-padding">
        <div class="container-fluid">
          <div class="row">
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-user"></i></div>
                <div class="name"><strong class="text-uppercase">Total</strong><span>Last 7 days</span>
                  <div class="count-number">{{user.task_accepted}}</div>
                </div>
              </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-padnote"></i></div>
                <div class="name"><strong class="text-uppercase">Completed</strong><span>Last 5 days</span>
                  <div class="count-number">{{user.task_accepted}}</div>
                </div>
              </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-check"></i></div>
                <div class="name"><strong class="text-uppercase">Declined</strong><span>Last 2 months</span>
                  <div class="count-number">{{user.task_rejected}}</div>
                </div>
              </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-bill"></i></div>
                <div class="name"><strong class="text-uppercase">Accepted</strong><span>Last 2 days</span>
                  <div class="count-number">{{user.task_accepted}}</div>
                </div>
              </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-list"></i></div>
                <div class="name"><strong class="text-uppercase">Joined</strong><span>Last 3 months</span>
                  <div class="">{{user.date_joined | naturaltime}}</div>
                </div>
              </div>
            </div>
            <!-- End count item-->
          </div>
        </div>
      </section>
      <!-- Header Section
      <section class="dashboard-header section-padding">
        <div class="container-fluid">
         <div class="row d-flex align-items-md-stretch"> -->
       
            <!-- Main Content goes here (Start) -->

            <!-- Main Content goes here (End) -->
            
          <!-- </div> 
        
        </div>
      </section>

      -->
   
      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p>Softzer Tech &copy; 2017-2019</p>
            </div>
            <div class="col-sm-6 text-right">
              <p>Design by <a href="#" class="external">Softzer Tech</a></p>
              <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions and it helps me to run Bootstrapious. Thank you for understanding :)-->
            </div>
          </div>
        </div>
      </footer>
    </div>
  {% endblock %}