{% extends 'employee/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

      <!-- Header Section-->
      <section class="dashboard-header section-padding">
        <div class="container-fluid">
          <div class="row d-flex align-items-md-stretch">
       
            <!-- Main Content goes here (Start) -->
            <div class="mycontent" style="width:50%; margin:0 auto;" >
          <div class="line"> </div>
    <div class="row">
        <label class="col-sm-4 form-control-label">Your Profile</label>
        <div class="col-sm-12">
         <form id='updateprofile' class="text-left form-validate">
            {% csrf_token %}
            <div class="form-group-material">
                <input id="register-username" type="text" name="fullname" value={{user.name}} required class="input-material">
                <label for="register-username" class="label-material">Full Name</label>
            </div>
            <div class="form-group-material">
                <input id="register-email" type="email" name="username"  value={{user.username}} required class="input-material">
                <label for="register-email" class="label-material">Username</label>
            </div>
            <div class="form-group-material">
                        <input disabled class="input-material" name='userid' id='userid' value={{user.id}} >
                         <label for="register-password" class="label-material">Id</label>
            </div>
            <div class="form-group-material">
                <button id="submit" type="submit" required class="btn btn-primary"> Update </button>                                                </label>
            </div>
            <i id="result"></i>

        </form>
        </div>
    </div>
</div>
            <!-- Main Content goes here (End) -->
            
          </div>
        </div>
      </section>
      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p>Softzer Tech &copy; 2017-2019</p>
            </div>
            <div class="col-sm-6 text-right">
              <p>Design by <a href="#" class="external">Softzer Tech</a></p>
              <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions and it helps me to run Bootstrapious. Thank you for understanding :)-->
            </div>
          </div>
        </div>
      </footer>
    </div>
  {% endblock %}
