{% extends 'employee/base.html' %}

{% load humanize %}
{% block content %}


      <!-- Header Section-->
      <section class="dashboard-header section-padding">
        <div class="container-fluid">
          <div class="row d-flex align-items-md-stretch">
       
            <!-- Main Content goes here (Start) -->
            <div class="mycontent" style="width:50%; margin:0 auto;" >
          <div class="line"> </div>
    <div class="row">
        <label class="col-sm-4 form-control-label">Your Skills</label>
        <div class="col-sm-12">
         <form id='updateprofile' class="text-left form-validate">
            {% csrf_token %}
                  <div class="form-group row">
                  {%for skill in skills%}
                 
                  <div class="col-sm-10">
                        <div class="i-checks">
                          <input id="checkboxCustom{{skill.id}}" type="checkbox" value="{{skill}}" class="form-control-custom">
                          <label for="checkboxCustom{{skill.id}}">{{skill}}</label>
                        </div>
                      </div>

                      
                  {%endfor%}
                      
                    </div>
            
            
            <div class="form-group-material">
                <button id="submit" type="submit" required class="btn btn-primary"> Update </button>                                                </label>
            </div>
            <i id="result"></i>

        </form>
        </div>
    </div>
</div>
            <!-- Main Content goes here (End) -->
            
          </div>
        </div>
      </section>
      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p>Softzer Tech &copy; 2017-2019</p>
            </div>
            <div class="col-sm-6 text-right">
              <p>Design by <a href="#" class="external">Softzer Tech</a></p>
              <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions and it helps me to run Bootstrapious. Thank you for understanding :)-->
            </div>
          </div>
        </div>
      </footer>
    </div>

  {% endblock %}
