{% extends 'employee/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
 

      <!-- Header Section-->
      <section class="dashboard-header section-padding">
        <div class="container-fluid">
          <div class="row d-flex align-items-md-stretch">
       
            <!-- Main Content goes here (Start) -->
          <div class="row">
           <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4>My Jobs List</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table table-lg">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Task Name</th>
                          <th>Task Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for tasks in task %}
                        <tr>
                          <th scope="row">{{tasks.id}}</th>
                          <td>{{tasks.title}}</td>
                          <td>{% if tasks.status %}
                            Taken
                            {% elif tasks.status is None %}
                            Rejected
                            {%else%}
                            Active
                          {% endif %}</td>
                        <td>
                          {% if tasks.status %}  
                              <button class="btn btn-success" disabled>Accept</button>&nbsp;<button class="btn btn-danger" disabled>Reject</button>
                          {% elif tasks.status is None %} 
                            <button class="btn btn-success" disabled>Accept</button>&nbsp;<button class="btn btn-danger" disabled>Reject</button>                           
                            {%else%}
                          <a class="btn btn-success" href="{% url 'accept' tasks.id %}">Accept</a><a class="btn btn-danger" href="{% url 'reject' tasks.id %}" >Reject</a>

                        {% endif %}
                           </td>
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
    </div>

            <!-- Main Content goes here (End) -->
            
          </div>
        </div>
      </section>
      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p>Softzer Tech &copy; 2017-2019</p>
            </div>
            <div class="col-sm-6 text-right">
              <p>Design by <a href="#" class="external">Softzer Tech</a></p>
              <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions and it helps me to run Bootstrapious. Thank you for understanding :)-->
            </div>
          </div>
        </div>
      </footer>
    </div>
  {% endblock %}